<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secondaryproject.mapper.CartMapper">
    <select id="deleteByUserId" parameterType="Integer" >
        DELETE from cart_table where user_id = #{userId}
    </select>
</mapper>



