<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secondaryproject.mapper.GoodsMapper">
    <select id="selectOneByName" parameterType="String" resultType="com.example.secondaryproject.pojo.goods">
        SELECT * from goods_table where good_name like #{goodsName} limit 1
    </select>
</mapper>
